{% extends "base.html" %}
 
{% block title %}Add New Employee Records{% endblock title %}
 
{% block content %}
<div class="col-md-12">
    <h4>Dashboard</h4>  
 <form method="POST" class="post-form" action="/update/{{customer.id}}">  
   {% csrf_token %}  
  <div class="container">  
 <br>  
  <div class="form-group row">  
  <label class="col-sm-1 col-form-label"></label>  
  <div class="col-sm-4">  
  <h3>Update Details</h3>  
  </div>  
   </div>  
  <div class="form-group row">  
  <label class="col-sm-2 col-form-label">Customer ID:</label>  
  <div class="col-sm-4">  
   <input type="text" class="form-control" name="id" id="customer_id" required maxlength="100" value="{{ customer.id }}"/>  
  </div>  
   </div>  
   <div class="form-group row">  
  <label class="col-sm-2 col-form-label">Customer username:</label>  
  <div class="col-sm-4">  
   <input type="text" class="form-control" name="username" id="customer_uname" required maxlength="100" value="{{ customer.customer_username }}" />  
  </div>  
   </div>  
  <div class="form-group row">  
  <label class="col-sm-2 col-form-label">Customer password:</label>  
  <div class="col-sm-4">  
   <input type="text" class="form-control" name="password" id="customer_pass" required maxlength="254" value="{{ customer.customer_password }}" />  
  </div>  
   </div>  
  <div class="form-group row">  
  <label class="col-sm-2 col-form-label">Customer email:</label>  
  <div class="col-sm-4">  
   <input type="text" class="form-control" name="email" id="customer_contact" required maxlength="100" value="{{ customer.customer_email }}" />  
  </div>  
   </div>  
   <div class="form-group row">  
    <label class="col-sm-2 col-form-label">Customer address:</label>  
    <div class="col-sm-4">  
     <input type="text" class="form-control" name="address" id="customer_address" required maxlength="100" value="{{ customer.customer_address }}" />  
    </div>  
    </div>  
  <div class="form-group row">  
  <label class="col-sm-1 col-form-label"></label>  
  <div class="col-sm-4">  
  <button type="submit" class="btn btn-success btn-lg">Update</button>  
  </div>  
   </div>  
  </div>  
 </form>  
{% endblock content %}   
