{% extends "base.html" %}
 
{% block title %}Categories | View{% endblock title %}
 
{% block content %}

    <div class="container p-4">
        <h1 class="text-center">Category</h1> 
        <span><a type = "button" class="btn btn-primary ml-md-5 mb-lg-5" id="" href="{% url 'addcategory' %}">ADD CATEGORY</a></span>  
            <div class="table-responsive " >
                <table id="datatable1" class="table table-bordered table-hover ">
                        <thead>
                            <th class=" text-center"><input type="checkbox" onchange="
                                if(this.checked)
                                    dt.rows().select();
                                else
                                    dt.rows().deselect();
                            "></th>
                            <th>Category ID</th>
                            <th>Category Name</th>
                            <th>Edit</th>
                            <th>Delete</th>
                        </thead>
                    <tbody>
                        {% for category in categories %}   
                            <tr>
                            <td><input type="checkbox" class="checkthis" /></td>
                            <td class="text-center">{{category.id}}</td>
                            <td class="text-center">{{category.category_type}}</td>
                            <td>

                                <!-- Button trigger modal -->
                                <div class="text-center">
                                   <a class="btn btn-sm btn-primary" href="{% url 'updatecategory' category.id %}">
                                        <span class="fas fa-edit"></span>
                                   </a>
                                </div>
                                </td>
    
                                <!--Delete Warning Modal Trigger-->
                                <td>
                                    <div class="text-center">
                                        <a type="button" class="btn btn-sm btn-danger" href="{% url 'deletecategory' category.id %}">
                                            <span class="fas fa-trash"></span>
                                            
                                        </a>
                                    </div>
                                </td>
                                 </tr>
                        {% endfor %}
                    </tbody>
                
                </table>
            </div>
    </div>
  
  


{% endblock content %} 