{% extends "base.html" %}
 
{% block title %}Categories | View{% endblock title %}
 
{% block content %}
	<!-- <div class="container">
		<p style ="align-content: left;"><a type = "button" class="btn btn-info" id="" href="{% url 'addcustomer' %}" >ADD CUSTOMER</a></p>
	
	</div> -->

    <div class="container p-4">
        <h1 class="text-center">Checkout</h1> 
        <!-- <span><a type = "button" class="btn btn-primary ml-md-5 mb-lg-5" id="" href="{% url 'addcustomer' %}">ADD CUSTOMER</a></span>   -->
            <div class="table-responsive " >
                <table id="datatable1" class="table table-bordered table-hover ">
                        <thead>
                            <th class=" text-center"><input type="checkbox" onchange="
                                if(this.checked)
                                    dt.rows().select();
                                else
                                    dt.rows().deselect();
                            "></th>
                            <th>Checkout ID</th>
                            <th>Total Amount</th>
                            <th>Payment Method</th>
                            <th>Successful</th>
                            <th>Checkout Date & Time</th>
                            <th>Cart ID</th>
                            <th>Product ID</th>
                            <th>Edit</th>
                            <th>Delete</th>
                        </thead>
                    <tbody>
                        {% for ch in checkout %}
                            <tr>
                            <td><input type="checkbox" class="checkthis" /></td>
                            <td>{{ch.id}}</td>
                            <td>{{ch.total_amount}}</td>
                            <td>{{ch.payment_method}}</td>
                            <td>{{ch.isSuccessful}}</td>
                            <td>{{ch.checkout_datetime}}</td>
                            <td>{{ch.cart_id}}</td>
                            <td>{{ch.product_id}}</td>
                            <td><p data-placement="top" data-toggle="tooltip" title="Edit"><a href="/edit/{{ ca.id }}" class="btn btn-outline-secondary" data-title="Edit" data-toggle="modal" data-target="#edit" ><span class="fas fa-edit"></span></a></p></td>
                            <td><p data-placement="top" data-toggle="tooltip" title="Delete"><a href="/delete/{{ ca.id }}" class="btn btn-outline-secondary"  data-title="Delete" data-toggle="modal" data-target="#delete" ><span class="fas fa-trash"></span></a></p></td> 
                            </tr>
                        {% endfor %}
                    </tbody>
                
                </table>
            </div>
    </div>
	
{% endblock content %} 